 /*ESERCIZI CSS

        11) Assegna una larghezza massima al tag body e centralo nella pagina ***
        12) Centra ogni tag h1 ***
        13) Cambia il colore di ogni link nella pagina***
        14) Crea una classe e assegnale un bordo**
        15) Fai in modo che la i bordi della tabella che hai creato siano arrotondati ***
        16) Aggiungi un margine ad ogni paragrafo ***
        17) Crea una classe che una volta assegnata cambi la dimensione e il peso del font***
        18) Crea una classe per nascondere un elemento
        19) Aggiungi un bordo verde a ogni <td> ***
        20) Aggiungi un bordo puntato rosso a ogni <tr> (nota: <tr> non accetta una proprietà "border") *?
        */


body {
    display:flex;
    width:50%;
    flex-direction: column;
    align-items: center;
    background-color:oldlace;
    margin-right:0px;
    border-right: 1px solid salmon;
    padding-right:20px;
}

table {
    border: 1px solid;
    width: 500px;
    height:500px;
    border-radius: 9px;
    border-spacing:5px;
    margin-bottom: 3em;
    margin-top: 3em;
}

.pb {
    max-width:50px;
    max-height:50px;
}

.author {
    font-size:small;
    font-weight: bold;
}

td {
    border: 1px solid green;
    padding:30px;
}

tr {
    outline: 1px dotted red;
    padding:30px;
}

hr {
    width:100%;
    margin:0 auto;
}

.border {
    border-style: dotted;
    margin-top: 3em;
}
